.palette {
  display: flex;
  position: relative;
}

.paletteInside {
  display: flex;
  width: 100%;
  height: 100%;
  box-shadow: var(--drop);
}

.paletteSection {
  padding: 16px;
}

.tools {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tool:hover {
  cursor: pointer;
}

.colorPalette {
  border-left: 1px solid var(--lgray);
  border-right: 1px solid var(--lgray);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 16px;
}

.stroke {
  display: flex;
  align-items: center;
  gap: 8px;
}

.width:hover {
  cursor: pointer;
}

.color {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  box-shadow: var(--drop);
}

.color:hover {
  cursor: pointer;
}

.paletteGuest {
  pointer-events: none;
  filter: blur(5px);
  position: relative;
}

.paletteOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
}

.paletteOverlay > div {
  text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 21px #fff;
}