.body {
  width: 100%;
  padding: 32px;
  gap: 36px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  max-width: 1000px;
}

.navLinks {
  display: flex;
  gap: 8px;
}

.main {
  flex-grow: 1;
  width: 100%;
  max-width: 1000px;
}
